# Gradle
.gradle/
build/
bin/

# Visual Studio Code
.vscode/

# Java
*.class

# Logs
*.log

# Variables de entorno
.env
.env.*
!.env.example

# Configuración local
application-local.yml
application-local.yaml
application-local.properties

# Sistema operativo
.DS_Store
Thumbs.db